.indexcentent {
    width: 1024px;
}

.indexcentent .search {
    height: 588px;
    width: 100%;
    background-image: url(../Img/index/index-search.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.indexcentent .search .index-input {
    width: 750px;
    height: 90px;
    position: absolute;
    top: 240px;
    left: 120px;
    z-index: 2;
}

.indexcentent .search .search-input {
    width: 650px;
    height: 57px;
    padding-left: 35px;
    font-size: 24px;
    position: absolute;
    top: 243px;
    left: 124px;
    z-index: 3;
}

.indexcentent .search .search-icon {
    width: 30px;
    height: 31px;
    position: absolute;
    top: 257px;
    left: 785px;
    z-index: 3;
}

.indexcentent .indexbody {
    background-image: url(../Img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 60px;
}

.indexbody .indextab {
    margin-top: -50px;
    padding-top: 60px;
}

.indexcentent .indexbody .indextab .tabbtn {
    border: 1px solid black;
    height: 50px;
    width: 720px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
}

.indexcentent .indexbody .indextab .tabbtn .btn-item {
    width: 359px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.indexcentent .indexbody .indextab .hideleftborder {
    border-left: white;
}

.indexcentent .indexbody .indextab .hiderightborder {
    border-right: white;
}

.indexcentent .indexbody .indextab .tabbtn .checkon {
    color: white;
    font-size: 36px;
    line-height: 70px;
    height: 70px;
    margin-top: -10px;
    border: 1px solid black;
    background-color: rgb(241, 88, 128);
}

.indexcentent .indexbody .indextab .tabbtn .yanxueshe {
    float: left;
}

.indexcentent .indexbody .indextab .tabbtn .yunketang {
    float: right;
}

.tavbody .info {
    width: 800px;
    margin: 0 auto;
    margin-top: 60px;
}

#yanxueshe .info .info-item {
    padding-left: 0px;
}

#yunketang .info .info-item {
    padding-left: 0px;
}

#yanxueshe .info .info-item img {
    width: 245px;
    height: 45px;
}

#yunketang .info .info-item img {
    width: 100%;
    height: 100%;
}

#yanxueshe .info .info-ul {
    list-style: none;
    float: left;
}

#yunketang .info .info-ul {
    list-style: none;
    float: left;
}

.tavbody .info .info-ul .info-li {
    margin-top: 5px;
}

.tavbody .info .info-ul .info-li a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.tavbody .info .info-ul .info-li a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}

.tavbody .zhanzinfo {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.tavbody .zhanzinfo .zzitem-img {
    width: 195px;
    height: 50px;
}

.tavbody .zhanzinfo .zzitem-input {
    height: 50px;
    width: 100%;
}

.tavbody .zhanzinfo .zhanzitem {
    padding-left: 0px;
    padding-right: 0px;
}

.tavbody .zhanzinfo .zhanzitem-input {
    background-image: url(../Img/index/in-zhanz-btn.png);
    background-size: 100% 100%;
    height: 50px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.tavbody .moreschool {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.tavbody .moreschool .school-title {
    color: rgb(66, 137, 224);
    font-weight: 600;
    position: relative;
    padding-left: 0px;
    width: 40px;
    float: left;
}

.tavbody .moreschool .school-item {
    width: 112px;
    height: 35px;
    margin-top: 5px;
    margin-left: 14px;
    position: relative;
    background-color: #ffDBE0;
    border: 1px solid #000000;
}

.tavbody .moreschool .school-title img {
    width: 7px;
    height: 35px;
    position: absolute;
    top: 2px;
    right: 0px;
}

.tavbody .moreschool .school-item div {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 112px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: white;
    border: 1px solid;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.impthings .imptitle {
    width: 365px;
    height: 89px;
    margin: 0 auto;
    margin-top: 60px;
}

.impthings .impbody {
    margin: 0 auto;
    position: relative;
}

.impthings .impbody .timeline {
    width: 600px;
    margin: 0 auto;
}

.impthings .impbody .timeline .line {
    height: 20px;
    margin-top: 60px;
    position: relative;
}

.impthings .impbody .timeline .lineinfo {
    margin: 5px 0 0 0;
}

.impthings .impbody .timeline .lineinfo-item {
    text-align: center;
    font-weight: 900;
}

.impthings .impbody .timeline .col-sm-2 {
    padding-right: 0px;
}

.impthings .impbody .timeline .line .linepoint {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: left;
    background-color: rgb(255, 214, 58);
}

/* 各个点和线的定位 开始 */

.impthings .impbody .timeline .line .one {
    position: absolute;
    top: 0px;
    left: 40px;
}

.impthings .impbody .timeline .line .one-c {
    position: absolute;
    top: 8px;
    left: 55px;
}

.impthings .impbody .timeline .line .two {
    position: absolute;
    top: 0px;
    left: 140px;
}

.impthings .impbody .timeline .line .two-c {
    position: absolute;
    top: 8px;
    left: 155px;
}

.impthings .impbody .timeline .line .three {
    position: absolute;
    top: 0px;
    left: 240px;
}

.impthings .impbody .timeline .line .three-c {
    position: absolute;
    top: 8px;
    left: 255px;
}

.impthings .impbody .timeline .line .four {
    position: absolute;
    top: 0px;
    left: 340px;
}

.impthings .impbody .timeline .line .four-c {
    position: absolute;
    top: 8px;
    left: 355px;
}

.impthings .impbody .timeline .line .five {
    position: absolute;
    top: 0px;
    left: 445px;
}

.impthings .impbody .timeline .line .five-c {
    position: absolute;
    top: 8px;
    left: 460px;
}

.impthings .impbody .timeline .line .six {
    position: absolute;
    top: 0px;
    left: 550px;
}

/* 各个点和线的定位 结束 */

.impthings .impbody .impdate .dateitem {
    margin-top: 30px;
    margin-bottom: 30px;
}

.impthings .impbody .impdate .dateitem img {
    width: 150px;
    height: 170px;
}

.impthings .impbody .impdate .dateitem p {
    position: absolute;
    top: 62px;
    left: 0;
    color: white;
    width: 150px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
}

.stuworks .stutitle {
    width: 365px;
    height: 89px;
    margin: 0 auto;
    margin-top: 60px;
}

.stuworks .workslist {
    width: 900px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid green;
}

/* 瀑布流 */

.teachenv .teachtitle {
    width: 365px;
    height: 89px;
    margin: 0 auto;
    margin-top: 60px;
}

.teachenv .imglist {
    margin: 40px 20px 20px 20px;
}

.teachenv .teachlist {
    position: relative;
}

.teachenv .teachlist .hrline {
    position: absolute;
    left: -1px;
    margin-top: -13px;
    height: 25px;
    width: 900px;
    background-image: url(../Img/icon/common/hrline.png);
    background-size: 100% 100%;
}

/* .teachenv .imglist .imgitem {
    border: 1px solid;
} */

.teachenv .imglist .imgitem img {
    width: 230px;
    height: 220px;
}

/* 标题文字定位 */

.index-title {
    position: relative;
}

.index-title .title-span {
    font-size: 34px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 110px;
}

/* tab菜单圆点 */

.impthings .impbody .timeline .circle {
    margin-top: 0px;
}

.circle {
    margin-top: 2px;
}

/* 大事年表文字 */

.impthings .imptitle .title-span {
    left: 50px;
}

/* 各个背景图层高度 */

.indexbody .indextab .bgdiv-black {
    height: 880px;
    width: 900px;
}

.indexbody .indextab .bgdiv-white {
    height: 880px;
    width: 900px;
}

.indexbody .impthings .bgdiv-black {
    height: 400px;
    width: 900px;
}

.indexbody .impthings .bgdiv-white {
    height: 400px;
    width: 900px;
}

.indexbody .teachenv .bgdiv-black {
    height: 560px;
    width: 900px;
}

.indexbody .teachenv .bgdiv-white {
    height: 560px;
    width: 900px;
}

/* 关于云课堂和学研社的部分样式 */

.tavbody .moreschool .bgcolor-red {
    border: 1px solid black !important;
    color: white !important;
    background-color: rgb(241, 88, 128) !important;
}

/* 关于视频控件 */

.tavbody .video-area {
    width: 800px;
    height: 400px;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 30px;
}

.tavbody .video-area .video-title {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #353535;
}

.tavbody .video-area span {
    color: white;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

/* video的父层呢个 */

.tavbody .video-area .video-player {
    height: 320px;
}

.tavbody .video-area .vjs-poster {
    width: 798px;
    height: 320px;
}

.tavbody .video-area .my-video-dimensions {
    width: 798px;
    height: 320px;
}

.tavbody .video-area .video-player video {
    width: 800px;
}

.tavbody .video-area .video-control {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #353535;
}

.video-control .videotime {
    width: 130px;
    float: left;
}

.video-control .fastcontrol {
    width: 130px;
    float: left;
    line-height: 40px;
}

.video-control i {
    color: gray;
}

.video-control .fastcontrol i {
    margin-left: 10px;
}

.video-control .sound {
    width: 130px;
    line-height: 40px;
    float: right;
}

.video-control .sound .sound-control {
    float: right;
    width: 100px;
    margin-top: 10px;
}

.video-control .full-screen {
    float: right;
    width: 40px;
    line-height: 40px;
}

.border {
    border: 1px solid red;
}