/*通用样式*/

.loginitem img {
    width: 498px;
    margin-left: -1px;
}

.loginpage .bgdiv-black {
    height: 350px;
}

.loginitem .inputitem .inputword {
    float: left;
    margin-left: 10px;
}

.logincontent {
    background-image: url(../Img/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
    padding-top: 80px;
}

.logincontent .logintitle span {
    font-weight: 600;
    color: rgb(240, 88, 127);
}

.logincontent .loginform {
    width: 500px;
    margin: 0 auto;
}

/* .logincontent .loginform .inputitem:first-child div{
    width: 86px;
} */

.logincontent .logininput {
    margin-top: 15px;
    width: 622px;
    height: 291px;
    background-image: url(../Img/login/registerbg01.png);
}

.logincontent .inputitem {
    height: 70px;
    line-height: 70px;
}

.logininput .inputitem div {
    float: left;
    width: 65px;
    line-height: 70px;
    margin-left: 15px;
}

.logincontent .inputitem input {
    height: 35px;
    width: 280px;
}

.logincontent .inputitem .sendcode {
    float: right;
    margin-right: 15px;
}

.logincontent .inputitem .sendcode span {
    position: absolute;
    top: -1px;
    left: 12px;
    color: white;
}

.logincontent .inputitem .sendcode .pwd-icon {
    width: 30px;
    height: 30px;
}

.logincontent .inputitem .sendcode .pwd-span {
    color: rgb(240, 88, 127);
    float: left;
}

.logincontent .inputitem .sendcode-icon {
    width: 100px;
}

.logincontent .inputitem .errormsg {
    color: rgb(240, 88, 127);
    font-size: 1px;
    margin-left: 60px;
}

.logincontent .inputitem span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(82, 147, 226);
}

.logincontent .submitbtn {
    width: 622px;
}

.logincontent .submitbtn .login-img {
    width: 622px;
    margin-top: 20px;
}

.logincontent .submitbtn .tip {
    text-align: center;
    margin-top: 10px;
}

.logincontent .submitbtn .tip span {
    color: rgb(240, 88, 127);
}

.logincontent .bgdiv-black {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.logincontent .bgdiv-white {
    height: 100%;
}

.logincontent .submitbtn {
    width: 100%;
}

/* ------------------*/

.loginindex .loginindex-img {
    width: 500px !important;
}

.inputitem .right {
    float: right;
    margin-right: 20px;
    color: rgb(240, 88, 127) !important;
}

.inputitem .checkboxpwd {
    width: 15px !important;
    height: 15px !important;
}

.loginindex span hr {
    width: 200px;
    border-top: 1px solid gray;
}

.loginindex .fhr {
    float: left;
}

.loginindex .lhr {
    float: right;
}

.loginindex .wspan {
    line-height: 40px;
}

.loginindex .wchatimg {
    width: 100px;
    height: 100px;
}

.loingindex div {
    width: 80px !important;
}

.wspan {
    color: gray !important;
}

.submitbtn .submit-span {
    position: absolute;
    top: 25px;
    left: 290px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.loginindex .submit-span {
    top: 20px;
    left: 230px;
}

.loginindex .login-img {
    width: 500px !important;
}

.updateinfo .bgdiv-black {
    height: 710px;
}

.updateinfo .loginindex .submit-span {
    left: 195px;
}

.user-icon {
    height: 80px;
    width: 200px;
    line-height: 80px;
}

.user-icon .usericon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    float: left;
    border: 1px solid;
    margin-right: 30px;
    margin-top: 12px;
}

.user-icon .usericon img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.user-icon .change-usericon {
    position: absolute;
    top: -2px;
    right: 39px;
    color: white !important;
}

.updateinfo .inputitem div:first-child {
    width: 65px;
}

.updateinfo .inputitem .updateicon {
    float: right;
    width: 65px;
    height: 70px;
    line-height: 70px;
}

.updateinfo .inputitem .updateicon img {
    width: 20px;
    height: 20px;
}

.updateinfo .inputitem .updateicon span {
    color: rgb(240, 88, 127);
}

/* 个人中心 */

.userindexbody {
    background-image: url(../Img/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.userindexcontent {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.userindexcenter {
    width: 500px;
    margin: 0 auto;
}

.userindex-black {
    height: 420px !important;
    width: 500px !important;
    margin: 0 !important;
}

.userindex-white {
    height: 420px !important;
}

.tip {
    margin: 10px 0 10px 0;
}

.tipitem img {
    width: 100px;
    height: 50px;
}

.userindexcenter .hr-img {
    width: 498px;
    margin-left: -1px;
}

.history {
    width: 460px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.history-title {
    color: rgb(82, 147, 226);
    width: 65px;
    height: 150px;
    float: left;
}

.history-content {
    width: 370px;
    height: 150px;
    float: right;
}

.step {
    width: 390px;
    height: 25px;
}

.step .circley {
    background-color: yellow;
}

.step .left-circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid;
    position: absolute;
    top: 2px;
    left: 0px;
}

.step .center-span {
    position: absolute;
    top: 0px;
    left: 25px;
}

.step .right-div {
    width: 200px;
    height: 25px;
    border-radius: 12px;
    border: 1px solid;
    text-align: center;
    background: -webkit-linear-gradient(left, rgb(206, 243, 247), rgb(216, 225, 254));
    position: absolute;
    top: 0px;
    right: 50px;
}

.history-content .circle div {
    float: none;
    margin-bottom: 5px;
}

.timeinfo {
    width: 460px;
    margin: 0 auto;
    margin-top: 20px;
}

.timeinfo span {
    color: rgb(82, 147, 226);
}

.time-left {
    width: 300px;
    height: 100px;
    float: left;
}

.time-right {
    width: 150px;
    height: 100px;
    float: right;
}

.time-img {
    width: 100px;
    height: 80px;
    border: 1px solid;
}

/* 0.5透明 */

.opacity {
    opacity: 0.5;
}

/* 我的占座 */

.mysitebody {
    background-image: url(../Img/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.mysitecontent {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.mysite-black {
    height: 100px;
    width: 500px
}

.mysite-white {
    height: 100px;
}

.classname,
.sitestate {
    width: 500px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: 600;
}

.sitestate .right-statue {
    float: right;
    margin-right: 40px;
}

.sitestate .sueecss {
    color: rgb(240, 88, 127);
}

.sitestate .fail {
    color: rgb(32, 28, 231);
}

.sitestate .normal {
    color: black;
}

/* 我的通知 */

.mynoticebody {
    background-image: url(../Img/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.mynoticecontent {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.mynotice-black {
    height: 300px;
    width: 500px;
}

.mynotice-white {
    height: 300px;
}

.itemtitle {
    height: 50px;
}

.itemtitle span {
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;
}

.itemtitle .r-chip {
    float: right;
    height: 50px;
    margin-right: 20px;
    text-align: center;
}

.chip {
    width: 100px;
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    margin-top: 15px;
    background: -webkit-linear-gradient(left, rgb(226, 228, 100), rgb(230, 74, 53));
}

.mynotice .hr-line {
    width: 498px;
    margin-left: -1px;
}

.mynotice .word {
    position: absolute;
    top: 0px;
    left: 20px;
    color: rgb(82, 147, 226);
    background-color: white;
    width: 75px;
}

.mynotice .time {
    position: absolute;
    top: 0px;
    right: 20px;
    background-color: white;
    width: 75px;
}

.iteminfo {
    margin-left: 35px;
    margin-top: 10px;
}

.iteminfo .info-cover {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
    margin-right: 10px;
}

.info-abs {
    width: 330px;
    height: 100px;
    float: right;
    margin-right: 20px;
}

.info-abs .more-info {
    position: absolute;
    top: 75px;
    right: 0px;
    color: rgb(240, 88, 127);
}

.border {
    border: 1px solid red;
}

.color-bule {
    color: rgb(82, 147, 226);
}

.tpye-pink-grad {
    background: -webkit-linear-gradient(left, rgb(235, 94, 94), rgb(236, 167, 158));
}

.tpye-pink {
    background: rgb(240, 88, 127);
}

.tpye-bule {
    background: rgb(82, 147, 226);
}

.type-one {
    width: 500px;
    height: 200px;
}

.type-two {
    width: 500px;
    height: 100px;
}

.type-two .iteminfo .info-left {
    font-size: 20px;
    font-weight: 600;
}

.type-two .iteminfo .info-right {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(240, 88, 127);
}

.type-three {
    width: 500px;
    height: 140px;
}

.type-three .iteminfo .info-cover {
    height: 120px;
}

.type-three .info-abs {
    height: 120px;
}

.type-three .iteminfo .info-abs .info-title {
    width: 330px;
    height: 35px;
}

.type-three .info-abs .more-info {
    top: 90px;
}

.type-three .itemtitle span {
    line-height: 0px;
    margin-left: 0px;
}

.type-three .itemtitle .r-chip {
    margin-right: 0px;
}

.type-three .itemtitle .chip {
    margin-top: 0px;
}

/* 我的课程 */

.myclassbody {
    background-image: url(../Img/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.myclasscontent {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.myclass-black {
    height: 100px;
    width: 500px
}

.myclass-white {
    height: 100px;
}

.myclassitem .classinfoitem {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    height: 20px;
}

.myclassitem .classinfoitem .item-left {
    width: 200px;
    float: left;
    margin-left: 20px;
}

.myclassitem .tip {
    color: rgb(82, 147, 226);
    font-size: 12px;
}

.myclassitem .lasttip {
    color: rgb(240, 88, 127);
}

.myclassitem .classinfoitem .item-right {
    width: 100px;
    float: right;
    margin-right: 20px;
}

.myclassitem .item-type-left {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
}

.myclassitem .item-type-right {
    width: 360px;
    height: 100px;
    float: right;
}

/* 我的收藏 */

.mycollectbody {
    background-image: url(../Img/login/bg-login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.mycollectcontent {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}

.mycollect-black {
    height: 300px;
    width: 500px;
}

.mycollect-white {
    height: 300px;
}

.searchinput input,
select {
    height: 30px;
}

.searchinput img {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.mycollectlist div[data-type|=type] {
    width: 600px !important;
}
.mycollectlist .hr-line {
    width: 600px;
    margin-left: -1px;
}